.DS_Store
.git
.github
.pytest_cache
.venv
.vscode
.worktrees
.agent
.auto-claude
.cursor
.tmp
.trae
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.db-shm
*.db-wal
*.sqlite

node_modules
apps/frontend/node_modules
apps/frontend/dist*

apps/backend/weblogs
apps/backend/web/data

doc
docs
tests

